.container
	.jumbotron
		img.pull-right(src="http://t2.gstatic.com/images?q=tbn:ANd9GcR34bjOH6ndygKYYR_3R_w00n2wEw-ok1SOGX5u39Ps27pOYJ7s")

		h1 Welcome to MEAN
		p.lead MEAN machine training 
		br
		row

	.br
		.col-md-6
			div(ng-include="'/partials/main/featured-courses'")
		.col-md-6
			div(ng-include="'/partials/main/new-courses'")
